<div class="user_details">
    <section class="bio">
        <h3>Bio</h3>
        <p><%= @user.bio %></p>
    </section>
    <section class="posts">
        <% @user.posts.each_with_index do |post, index| %>
            <div class="post_info">
                <h3>Post#<%=index + 1%>: <%= post.title %></h3>
                <p><%= post.text %></p>
            </div>
        <% end %>
    </section>
    <%=link_to "See all users", users_path(@user)%>
</div>
