<div class="post_data">
            
  <div class="post_head">
    <section> 
      <h3>         
        <%= @post.title %>
        <span> by <%= @post.user.name %></span>
          <%# <%if can? :manage, @post%> %>
            <%=button_to "delete", user_post_path, method: :delete,  data: {confirm: 'Are You Sure You Want to Delete This Post?'}, class: 'log_out'%>
          <%# <% end %> %>
      </h3>
    
      <div class="numbers">
        <span><%= @post.comments_count ? @post.comments_count : 0 %> comments | <%= @post.likes_count ? @post.likes_count : 0 %> likes</span>
      </div>
    </section>
  </div>
  <p class="post_body"><%= @post.text %></p>
  <div class="like_post">
    <%= render partial: 'likes/form', locals: {likes: @post.likes.build, post: @post} %>
  </div>
  <%= render partial: 'comments/index', locals: { post: @post }%>
  <div class="comments_form">
    <%= render partial: 'comments/form', locals: {comment: @post.comments.build, post: @post} %>
  </div>
</div>
